<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">nosotros</ion-title>
    </ion-toolbar>
  </ion-header>

<div style="text-align: justify;">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre nosotros</ion-card-title>
      <ion-card-subtitle><p>Somos un grupo de personas que rescata, recupera y da en adopción a perros que han sido abandonados o maltratados</p>
        
        <p>Los curamos, les damos atención veterinaria y luego buscamos que sean adoptados por familias maravillosas.</p></ion-card-subtitle>
    </ion-card-header>

    <div class="centrar-botones">
      
      <ion-list>
        <ion-item>
          <ion-button size="default" href="/donaciones">Donar ahora</ion-button>
        </ion-item>
      </ion-list>
      
    </div>

    

    

  </ion-card>
<ion-card >
  <ion-grid>
    <ion-row>
      <ion-col><ion-card-title>Mision</ion-card-title>
      <p >Rescatar, curar, emparchar cuerpitos, almas y encontrarles los adopteros que se merecen.</p>
      </ion-col>
      <ion-col><ion-card-title>Atencion veterinaria</ion-card-title>
      <p>Es que algún día no seamos necesarios, ni nosotros ni ningún grupo, porque todos tengan su casa, con amor, respeto y para siempre.
        </p>
    </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col><ion-card-title>¿Que buscamos?</ion-card-title>
      <p>Que cada uno de nuestros rescatados encuentre a su familia adoptera ideal, donde puedan recibir todo el amor y cuidado que merecen.</p>
    </ion-col>
      <ion-col><ion-card-title>nuestro sueño</ion-card-title>
      <p>Nuestros perritos rescatados reciben toda la atención veterinaria posible, vacunas, castración, lo que necesiten.</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>

</div>

</ion-content>
