<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="Silhouette of mountains" src="https://document-export.canva.com/kxePc/DAF1NxkxePc/1/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20231125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231125T151431Z&X-Amz-Expires=33698&X-Amz-Signature=17842e5d4b6ce0a85e347dd19b647106b6b0c611babbe15470ebb317b00fa3fb&X-Amz-SignedHeaders=host&response-expires=Sun%2C%2026%20Nov%202023%2000%3A36%3A09%20GMT" />
    
    <ion-card-header>
      <ion-card-title>Bei Baffi</ion-card-title>
      <ion-card-subtitle>Paraguay 1050, R8324 Cipolletti, Río Negro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Contacto:</p>

      <p>Telefono: 299-5460125</p>
      <p>Email: oubeibaffiar.gmail.com</p>

      
    </ion-card-content>

    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15619.548653344817!2d-67.99001119769876!3d-38.92583661249953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30e608b85ac5%3A0x35095b5fd7df8a9a!2sParaguay%201050%2C%20R8324%20Cipolletti%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses-419!2sar!4v1698926464811!5m2!1ses-419!2sar"
    width="400" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>
    
  </ion-card>

</ion-content>
