

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/0f/26/82/0f2682c37584c5a286ed7988e31bd188.jpg" />
    <ion-card-header>
      <ion-card-title>Luci</ion-card-title>
      <ion-card-subtitle>Perra de 2 años</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La más serena, la que mejor se porta, la compañera de fierro, la que te da cero problemas pero te llena de amor y paz, esa soy yo,STELLA! Tengo 3 años, me porto divino, te espero con todo ordenadito para escuchar tu día y aliviarte de todos los problemas, me llevo bien con todos, paseo como la reina que soy, me adoptás? Estoy castrada, vacunada y desparasitada.
    </ion-card-content>
  </ion-card>
  <ion-button fill="clear">Adoptar</ion-button>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/b7/3a/6c/b73a6cf6f37f1218400eab3e5ec074bc.jpg" />
    <ion-card-header>
      <ion-card-title>Libi</ion-card-title>
      <ion-card-subtitle>3 años</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La más serena, la que mejor se porta, la compañera de fierro, la que te da cero problemas pero te llena de amor y paz, esa soy yo,STELLA! Tengo 3 años, me porto divino, te espero con todo ordenadito para escuchar tu día y aliviarte de todos los problemas, me llevo bien con todos, paseo como la reina que soy, me adoptás? Estoy castrada, vacunada y desparasitada
    </ion-card-content>
  </ion-card>
  <ion-button fill="clear">Adoptar</ion-button>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/564x/96/32/e4/9632e4619c423e0a574030f35de36791.jpg" />
    <ion-card-header>
      <ion-card-title>Caramelo</ion-card-title>
      <ion-card-subtitle>1 año</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La más serena, la que mejor se porta, la compañera de fierro, la que te da cero problemas pero te llena de amor y paz, esa soy yo,STELLA! Tengo 3 años, me porto divino, te espero con todo ordenadito para escuchar tu día y aliviarte de todos los problemas, me llevo bien con todos, paseo como la reina que soy, me adoptás? Estoy castrada, vacunada y desparasitada
    </ion-card-content>
  </ion-card>
  <ion-button fill="clear">Adoptar</ion-button>
</ion-content>
